
.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	
}


#mainJumbotron {
				background-image: url('background2.jpg');
				height: 100vh;
				padding-top: 25%;
				color: white;
				font-family: 'Oswald', sans-serif;
				margin-bottom: 0;
			}

#mainJumbotron h1 {
	color: #32D9CB;
}

#mainJumbotron .btn {
	background-color: #32D9CB;
	border: none;
	color: #205072;
	font-weight: bold;

}

#moreInfo {
	margin: 50px;
	font-family: 'Oswald', sans-serif;
		padding: 50px;
}

#moreInfo h5 {
	color: #32D9CB;
}

#moreInfo p {
	color: #205072;
}

.card {
	box-shadow: 5px 10px 10px;
}












